body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 20px;
}

nav {
    background-color: #4285F4;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #0056b3;
}

h1 {
    color: #4285F4;
}

/* Ajoutez ces styles à votre fichier CSS */

#codes {
    margin-top: 20px;
    background-color: #f8f8f8;
    padding: 20px;
}

#codes h2 {
    color: #4285F4;
}
#codes ul {
    list-style-type: none;
    padding: 0;
}

#codes li {
    margin-bottom: 30px; /* Ajout de margin-bottom pour créer un saut de ligne entre chaque projet */
}

#codes li a {
    display: block;
    background-color: #4285F4;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

#codes li a:hover {
    background-color: #0056b3;
}

#a-propos {
    background-color: #f8f8f8;
    padding: 20px;
    margin-top: 20px;
}

#a-propos h2 {
    color: #4285F4;
}

#codes {
    margin-top: 20px;
}

#codes table {
    width: 100%;
    border-collapse: collapse;
    argin-top: 10px;
}

#codes th, #codes td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

#codes th {
    background-color: #4285F4;
    color: white;
}

#workspace {
    background-color: #f8f8f8;
    padding: 20px;
    margin-top: 20px;
}

#workspace li a {
    line-height: 1.6;
}

#workspace h2 {
    color: #4285F4;
}

#contact {
    background-color: #f8f8f8;
    padding: 20px;
    margin-top: 20px;
}

#contact h2 {
    color: #4285F4;
}

#liens {
    background-color: #f8f8f8;
    padding: 20px;
    margin-top: 20px;
}

#liens h2 {
    color: #4285F4;
}

#liens table {
    width: 100%;
    border-collapse: collapse;
    argin-top: 10px;
}

#liens th, #liens td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

#liens th {
    background-color: #4285F4;
    color: white;
}


#footer {
    background-color: #f0f0f0;
    color: #555;
    text-align: center;
    padding: 8px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 12px;
}

ul {
    line-height: 1.6;
}

p {
    line-height: 1.6;
}
